name: test-and-build

on: [push]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go_version:
          - '1.24'
          - '1.25'
          - 'latest'

    defaults:
      run:
        shell: sh

    container:
      image: golang:${{ matrix.go_version }}
      env:
        CGO_ENABLED: 0
        GOPATH: /go

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Initialize Go workspace
        run: make go.work

      - name: Test code
        run: |
          for module in $(find . -name 'go.mod' | cut -d / -f 2); do
            echo "===> Running tests for ${module}"
            go test -v -cover "./$module/..."
            echo
          done
